<div class="app-right-aside col-md-3 info-color-high-white hidden-md hidden-xs">
    <div class="nav-wrap">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active" role="presentation">
                <a href='#link-nav-One' data-toggle='tab'>
                    <i class="iconfont icon-icon-test"></i>
                </a>
            </li>
            <li role="presentation">
                <a href='#link-nav-Two' data-toggle='tab'>
                    <i class="iconfont icon-icon_fill_3"></i>
                </a>
            </li>
            <li role="presentation">
                <a href='#link-nav-Three' data-toggle='tab'>
                    <i class="iconfont icon-icon_fill_"></i>
                </a>
            </li>
        </ul>
        <div class='tab-content'>
            <div id='link-nav-One' class="tab-pane active" style="margin:0px 20px;">
                <h4 class='right-h4'>热门文章</h4>
                <ul class="list-group">
                    {% if hot_posts %} {% for post in hot_posts %}
                    <li class="list-group-item">
                        <a class="pull-left thumb-sm"><img src="{{url_for('static',filename='img/avatar.jpg') }}" style='width:40px!important;height:40px!important;border-radius: 500px;'></a>
                        <div class="clear" style="display:block;margin-left:60px;">
                            <h4  style='font-size: 15px;'><a data-pjax="#main-content"   href="{{ url_for('blog.show_post',post_id=post.id) }}" style='float:none;color:#333'>{{ post.title }}</a></h4> <small style='line-height: 0.9;'><i class="iconfont icon-icon_fill_2" style='font-size:7px;'></i>{{ post.comments }}</small></div>
                    </li>
                    {% endfor %} {% endif %}
                </ul>

            </div>
            <div id='link-nav-Two' class="tab-pane" style="margin:0px 20px;">
                <h4 class='right-h4'>随机文章</h4>
                <ul class="list-group ">
                    {% if rand_posts %}{% for post in rand_posts %}
                    <li class="list-group-item">
                        <a class="pull-left thumb-sm"><img src="{{url_for('static',filename='img/avatar.jpg') }}" style='width:40px!important;height:40px!important;border-radius: 500px;'></a>
                        <div  class="clear" style="display:block;margin-left:60px;">
                           <h4  style='font-size: 15px;'><a data-pjax="#main-content" href="{{ url_for('blog.show_post',post_id=post.id) }}" style='float:none;color:#333'>{{ post.title }}</a></h4><small style='line-height: 0.9;'><i class="iconfont icon-icon_fill_2" style='font-size:7px;'></i>{{ post.views }}</small></div>
                    </li>
                    {% endfor %}{% endif %}
                </ul>

            </div>
            <div id='link-nav-Three' class="tab-pane" style="margin:0px 20px;">
                <h4 style="padding-left:15px;padding-top:15px;color:#707474;">广而告之</h4>
                <ul class="list-group">
                    <li class="list-group-item">暂时没有</li>
                    <li class="list-group-item">暂时没有</li>
                    <li class="list-group-item">暂时没有</li>
                    <li class="list-group-item">暂时没有</li>
                    <li class="list-group-item">暂时没有</li>
                </ul>

            </div>
        </div>
        <div class="tab-info" style="margin:0px 20px;">
            <h4 class='right-h4'>博客信息</h4>
            <ul class="list-group" style='line-height: 0.9;'>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_5"></i>文章数量<span class="badge" style='line-height: 1;'>{{ Post_info.number }}</span></li>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_1"></i>评论数目<span class="badge" style='line-height: 1;'>{{ Post_info.num }}</span></li>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_4"></i>运行天数<span class="badge" style='line-height: 1;'>{{ Post_info.days_from_s }}</span></li>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_"></i>上次更新<span class="badge" style='line-height: 1;'>{{ moment(Post_info.modify).fromNow(refresh=True) }}</span></li>
            </ul>

        </div>
        <!-----<div id="mulu" class='mulu-move' style="margin:0px 20px;"></div>-->
        <div id='toc'></div>
    </div>
</div>
