<div class="app-right-aside col-xs-3 info-color-high-white">
    <div class="nav-wrap">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active" role="presentation">
                <a href='#link-nav-One' data-toggle='tab'>
                    <i class="iconfont icon-icon-test"></i>
                </a>
            </li>
            <li role="presentation">
                <a href='#link-nav-Two' data-toggle='tab'>
                    <i class="iconfont icon-icon_fill_3"></i>
                </a>
            </li>
            <li role="presentation">
                <a href='#link-nav-Three' data-toggle='tab'>
                    <i class="iconfont icon-icon_fill_"></i>
                </a>
            </li>
        </ul>
        <div class='tab-content'>
            <div id='link-nav-One' class="tab-pane active">
                <h4 style="padding-left:15px;padding-top:15px;color:#707474;">热门文章</h4>
                <ul class="list-group">
                    {% if hot_posts %} {% for post in hot_posts %}
                    <li class="list-group-item">
                        <a class="pull-left thumb-sm"><img src="{{url_for('static',filename='img/avatar.jpg') }}" style='width:40px!important;height:40px!important;border-radius: 500px;'></a>
                        <div class="clear" style="display:block;margin-left:60px;">
                            <h4 style='font-size: 14px;'>{{ post.title }}</h4> <small style='line-height: 0.9;'><i class="iconfont icon-icon_fill_2" style='font-size:7px;'></i>{{ post.views }}</small></div>
                    </li>
                    {% endfor %} {% else %}
                    <li class="list-group-item">1223</li>
                    {% endif %}
                </ul>

            </div>
            <div id='link-nav-Two' class="tab-pane ">
                <h4 style="padding-left:15px;padding-top:15px;color:#707474;">随机文章</h4>
                <ul class="list-group ">
                    {% for post in rand_posts %}
                    <li class="list-group-item">{{ post.title }}</li>
                    {% endfor %}
                </ul>

            </div>
            <div id='link-nav-Three' class="tab-pane ">
                <h4 style="padding-left:15px;padding-top:15px;color:#707474;">广而告之</h4>
                <ul class="list-group">
                    <li class="list-group-item">免费域名注册</li>
                    <li class="list-group-item">免费 Window 空间托管</li>
                    <li class="list-group-item">图像的数量</li>
                    <li class="list-group-item">24*7 支持</li>
                    <li class="list-group-item">每年更新成本</li>
                </ul>

            </div>
        </div>
        <div class="tab-info" style="margin:0px 20px;">
            <h4 style="padding-left:15px;padding-top:15px;color:#707474;">博客信息</h4>
            <ul class="list-group" style='line-height: 0.9;'>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_5"></i>文章数量<span class="badge" style='line-height: 1;'>100</span></li>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_1"></i>评论数目<span class="badge" style='line-height: 1;'>100</span></li>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_4"></i>运行天数<span class="badge" style='line-height: 1;'>100</span></li>
                <li class="list-group-item"><i class="iconfont icon-icon_fill_"></i>上次更新<span class="badge" style='line-height: 1;'>100</span></li>
            </ul>

        </div>
    </div>
</div>