{% extends pjax('base.html') %} {% from 'bootstrap/pagination.html' import render_pagination %} {% block main_content %}
<div class="content-header info-color-pure-white boder-bottom">
    <h1 style="font-family:'ABC';font-style: normal;">{{ Post.title }}</h1>
    <small>{{ Post.abstract }}</small>
</div>
<div class="main-head-img">
    <img src="{{ Post.post_img|removeurl }}" style='background-size:contain; width:100%;'>
</div>
{% if Post%}
<div class='blog-post post-main' data-toc="#toc" id='blog-post'>{{ Post.body|safe }}</div>
{% endif %}
<ol class="comment-list " style="list-style:none; ">
    {% for postcomment in PostCom %}
    <li class="comment-parent ">
        <a class='comment-avater' style='float: left; border-radius: 50px;margin-top:10px;'>

            <img src="{{ postcomment.admin.avater }} " style="height:40px!important; width: 40px!important; ">

        </a>
        <div class="comment-body " style="margin-left:45px!important;">
            <div class="comment-name ">
                <span>
                        <a style='text-decoration: none;'>
                            {{ postcomment.admin.name }}
                        </a>
                    </span>
                <div class="comment-meta ">
                    <small data-toggle="tooltip " data-placement="top " data-timestamp="{{ postcomment.timestamp.strftime( '%Y-%m-%dT%H:%M:%SZ') }} " data-delay="500 ">
                            {{ moment(postcomment.timestamp).fromNow(refresh=True) }}
                        </small>

                </div>
            </div>
            <div class="comment-content " style='padding: 0px 10px!important;'>
                <p>
                    {{postcomment.body}}
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>
<div class='form-info'>
    <h4 class='grey-info-g'>发表评论:</h4>
    <form method="POST" action='/posts/{{ Post.id }}'>
        {{ Form.csrf_token }}
        <div class="form-group ">
            {{ Form.body.label(class='grey-info form-font-info') }} {{ Form.body(class='form-control body-info') }}
        </div>
        {% if current_user.can() %}
        <h5>欢迎{{ current_user.name }}归来</h5>
        {% else %} {% if request.cookies.get('name') %}
        <h5>欢迎{{ request.cookies.get('name') }}归来</h5>
        {% else %}
        <div class='row'>
            <div class='col-xs-6'>
                <div class="form-group ">
                    {{ Form.username.label(class='grey-info form-font-info')}} {{ Form.username(class='form-control') }}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group ">
                    {{ Form.email.label(class='grey-info form-font-info')}} {{ Form.email(class='form-control') }}
                </div>
            </div>
        </div>
        {% endif %} {% endif %} {{ Form.submit(class='btn btn-primary') }}
    </form>
</div>

{% endblock %}
