{% extends 'base.html' %} {% from 'bootstrap/pagination.html' import render_pagination %} {% block main_content %}
<div class="main-content col-xs-9">
    <div class="content-header info-color-pure-white boder-bottom">
        <h1 style="font-family:'ABC';font-style: normal;">Smasky</h1>
        <small>不困于情，不畏将来，不念过往。</small>
    </div>
    <div class="blog-post boder-around">
        {% if Post%}
        <div class='post-main'>{{ Post.body }}</div>
        {% endif %}
    </div>
</div>
{% endblock %} {% block app_right_aside %} {% include 'blog/_rightAside.html' %} {% endblock %}