[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
flask-login = "*"
flask-pjax = "*"
werobot = "*"
flask-script = "*"

[requires]
python_version = "3.6"
