[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
faker = "*"
flask-bootstrap = "*"
flask = "*"
flask-moment = "*"
markdown = "*"
flask-wtf = "*"
requests = "*"
flask-login = "*"
flask-script = "*"
flask-pjax = "*"
flask-migrate = "*"

[requires]
python_version = "3.6"
