<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/smasky.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/iconfont.css'}}">

</head>

<body>
    <div class="alllayout  app-container container">
        <div class="container">
            <nav class="navbar navbar-default bg-blue  col-xs-2" role='navigation'>
                <div class='navbar-header font-bg-info-white text-center'>
                    <i class='glyphicon glyphicon-heart middle icon-size'> </i>
                    <span class='info-font-Source hidden-xs navbar-font'>Smasky</span>
                </div>
            </nav>
            <nav class='navbar navbar-default bg-info-mblue col-xs-10'>

            </nav>
        </div>
        <div class='aside bg-green col-xs-2'>
            <div class="sub-aside clearfix hidden-xs text-center show ">
                <div class="dropdown wrap">
                    <div class="ui-avtar">
                        <a href=#>
                            <span class="thumb-lg avatar">
                                    <img src="{{url_for('static',filename='img/avatar.jpg')}}" class="img-full">
                            </span>
                        </a>
                    </div>
                    <div class="describe">
                        <span class='main-des'>
                            <strong>不忘初心</strong>
                            <span class="caret "></span>
                        </span>
                        <span class="sub-des">
                            人间有味是清欢。
                        </span>
                    </div>

                </div>
                <div class="line bg-white"></div>
                <div class="navi  navigation">
                    <ul class="nav nav-stacked">
                        <li class='aside-nav-head'><span>导航:</span></li>
                        <li><a><i class="iconfont icon-shouye aside-icon"></i><span href="#">首页</span></a></li>
                        <li><a><i class="iconfont icon-github-copy aside-icon"></i><span href="#">仓库</span></a></li>
                        <li><a><i class="iconfont icon-pengyou aside-icon"></i><span href="#">朋友</span></a></li>
                        <li><a><i class="iconfont icon-liuyanban1 aside-icon"></i><span href="#">留言板</span></a></li>
                        <li><a><i class="iconfont icon-my aside-icon"></i><span href="#">关于我</span></a></li>


                    </ul>

                </div>
                <div class="line bg-white"></div>
                <ul class="nav nav-stacked">
                    <li class="aside-nav-head"><span>功能:</span></li>
                    <li><a><i class="iconfont icon-shouye aside-icon"></i><span href="#">首页</span></a></li>
                    <li><a><i class="iconfont icon-github-copy aside-icon"></i><span href="#">仓库</span></a></li>
                    <li><a><i class="iconfont icon-pengyou aside-icon"></i><span href="#">朋友</span></a></li>
                    <li><a><i class="iconfont icon-liuyanban1 aside-icon"></i><span href="#">留言板</span></a></li>
                    <li><a><i class="iconfont icon-my aside-icon"></i><span href="#">关于我</span></a></li>
                    <li><a><i class="iconfont icon-shouye aside-icon"></i><span href="#">首页</span></a></li>
                    <li><a><i class="iconfont icon-github-copy aside-icon"></i><span href="#">仓库</span></a></li>
                    <li><a><i class="iconfont icon-pengyou aside-icon"></i><span href="#">朋友</span></a></li>
                    <li><a><i class="iconfont icon-liuyanban1 aside-icon"></i><span href="#">留言板</span></a></li>
                    <li><a><i class="iconfont icon-my aside-icon"></i><span href="#">关于我</span></a></li>
                    <li><a><i class="iconfont icon-shouye aside-icon"></i><span href="#">首页</span></a></li>
                    <li><a><i class="iconfont icon-github-copy aside-icon"></i><span href="#">仓库</span></a></li>
                    <li><a><i class="iconfont icon-pengyou aside-icon"></i><span href="#">朋友</span></a></li>
                    <li><a><i class="iconfont icon-liuyanban1 aside-icon"></i><span href="#">留言板</span></a></li>
                    <li><a><i class="iconfont icon-my aside-icon"></i><span href="#">关于我</span></a></li>
                    <li><a><i class="iconfont icon-shouye aside-icon"></i><span href="#">首页</span></a></li>
                    <li><a><i class="iconfont icon-github-copy aside-icon"></i><span href="#">仓库</span></a></li>
                    <li><a><i class="iconfont icon-pengyou aside-icon"></i><span href="#">朋友</span></a></li>
                    <li><a><i class="iconfont icon-liuyanban1 aside-icon"></i><span href="#">留言板</span></a></li>
                    <li><a><i class="iconfont icon-my aside-icon"></i><span href="#">关于我</span></a></li>


            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>

</html>